<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='chat/style.css')}}"
    />
  </head>

  <body>
    <div id="messages">
      {% if messages != None %}
      {% for obj in messages %}
      {% if obj.user_id == users[0] %}
      <p>{{obj.username}}: {{obj.message}}</p>
      {% else %}
      <p>{{obj.message}} :{{obj.username}}</p>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
    <form onsubmit="sendMessage()" action="/chat/{{room_id}}" method="POST">
      <input id="user_id" placeholder="Your ID" name="user_id">
      <input id="message" placeholder="Message" name="message"/>
      <input type="submit" />
    </form>
     
    <script type=text/javascript src="{{ url_for('static', filename='chat/script.js') }}"></script>
    
  </body>
</html>
