{% extends "base.html" %} {% block title %}Chat List - Ciao!{% endblock
  %} {% block head %} {{ super() }}
  <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='chat_list/style.css')}}"
    />
  {% endblock %} 
  {% block content %}
  <body id="page-top">
    <div id="wrapper">
      <nav
        class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0"
      >
        <div class="container-fluid d-flex flex-column p-0">
          <a
            class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0"
            href="#"
          >
            <div class="sidebar-brand-icon rotate-n-15">
              <img src="/static/assets/img/logo6.png" />
            </div>
            <div class="sidebar-brand-text mx-3">
              <span style="font-family: 'Handlee';">Ciao!</span>
            </div>
          </a>
          <hr class="sidebar-divider my-0" />
          <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item" role="presentation">
              <a class="nav-link" href="/profile"
                ><i class="fas fa-user"></i><span>Profile</span></a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" href="/index"
                ><i class="icon ion-android-globe"></i><span>Explore</span></a
              >
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link active" href="/chat"
                ><i class="icon ion-chatbubble"></i><span>Chat</span></a
              >
            </li>
          </ul>
          <div class="text-center d-none d-md-inline">
            <button
              class="btn rounded-circle border-0"
              id="sidebarToggle"
              type="button"
            ></button>
          </div>
        </div>
      </nav>
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
          <nav
            class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top"
          >
            <div class="container-fluid">
              <button
                class="btn btn-link d-md-none rounded-circle mr-3"
                id="sidebarToggleTop"
                type="button"
              >
                <i class="fas fa-bars"></i>
              </button>
              <ul class="nav navbar-nav flex-nowrap ml-auto">
                <div class="d-none d-sm-block topbar-divider"></div>
                <li class="nav-item dropdown no-arrow" role="presentation">
                  <div class="nav-item dropdown no-arrow">
                    <a
                      class="dropdown-toggle nav-link"
                      data-toggle="dropdown"
                      aria-expanded="false"
                      href="#"
                      ><span class="d-none d-lg-inline mr-2 text-gray-600 small"
                        >{{user["Name"]}}</span
                      ><img
                        class="border rounded-circle img-profile"
                        src="{{url}}"
                    /></a>
                    <div
                      class="dropdown-menu shadow dropdown-menu-right animated--grow-in"
                      role="menu"
                    >
                      <a class="dropdown-item" role="presentation" href="/profile"
                        ><i
                          class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"
                        ></i
                        >&nbsp;Profile</a
                      >
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" role="presentation" href="/signOut"
                        ><i
                          class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                        ></i
                        >&nbsp;Logout</a
                      >
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </nav>
          <div class="container-fluid">
            <div
              class="d-sm-flex justify-content-between align-items-center mb-4"
            >
              <h3 class="text-dark mb-0">Chat</h3>
            </div>
            <div class="row">
              <div class="col-lg-6 col-xl-12 mb-4">
                <!-- <div class="card shadow mb-4"></div> -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="text-primary font-weight-bold m-0">
                      Search Chat
                    </h6>
                  </div>
                  <ul class="list-group list-group-flush">
                    {% for i in range(rooms|length) %}
                    <li class="list-group-item" style="cursor: pointer;">
                      <a style="text-decoration: none;" href="/chat/{{i}}">
                        <div class="row align-items-center no-gutters">
                          <div class="col-xl-12 mr-2">
                            <h6 style = "text-transform:uppercase;" class="mb-0 pointer">
                              <strong>{{ rooms[i].usernames[0] }} / {{ rooms[i].usernames[1] }}</strong>
                            </h6>
                            {% if rooms[i].messages is defined %}
                            <span class="text-xs"
                              >{{ rooms[i].messages[(rooms[i].messages|length)-1].message }}</span>
                            {% endif %}
                          </div>
                        </div>
                      </a>
                    </li>
                    {% endfor %}
                  </ul>
                  <!-- <div id="messages">
                    {% for room in rooms %}
                    <p>{{room}}</p>
                    {% endfor %}
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="bg-white sticky-footer">
          <div class="container my-auto">
            <div class="text-center my-auto copyright">
              <span>Copyright © Brand 2020</span>
            </div>
          </div>
        </footer>
      </div>
      <a class="border rounded d-inline scroll-to-top" href="#page-top"
        ><i class="fas fa-angle-up"></i
      ></a>
    </div>
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/static/assets/js/theme.js"></script>
    <script type=text/javascript src="{{ url_for('static', filename='chat_list/script.js') }}"></script>
  </body>
  {% endblock %}

