<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='chat/style.css')}}"
    />
  </head>

  <body>
    <div id="messages"></div>
    <form onsubmit="sendMessage()" action="/chat" method="POST">
      <input id="userId" placeholder="Your ID" name="userId">
      <input id="message" placeholder="Message" name="message"/>
      <input type="submit" />
    </form>

     
    <script type=text/javascript src="{{ url_for('static', filename='chat/script.js') }}"></script>
    
  </body>
</html>
