{% extends "base.html" %}
{% block title %}Home - Ciao!{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
  </style>
{% endblock %}
{% block content %}
<body id="page-top">
    <div id="wrapper">
        <div class="container-fluid d-flex flex-column p-3" style="background-color:#f0f1ff54">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><img src="/static/assets/img/logo6.png"></div>
                    <div class="sidebar-brand-text mx-3" style="color: black; font-size: 46px;"><span style="font-family: 'Handlee'">Ciao!</span></div>
                    <div style="display:flex; justify-content: center;"><a href="/register" class="btn btn-lg btn-primary btn-block text-white btn-user" style="align-content:center; width: 15%">Get Started</a></div>
            </a>
            <hr>
            <div class="container-fluid" style="background-color: #f5fffa">
                <div class="d-sm-flex justify-content-between align-items-center mb-4" id="parent">
                </div>
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image" style="background-image: url(&quot;/static/assets/img/homepic.jpg&quot;);"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h3 class="text-dark mb-4" style="text-align: left">We connect curious minds around the globe to learn skills from each other!</h3>
                                <p style="text-align: left">As the digital era grows its presence, learning from home is more prevalent than ever. At Skill Swap, trade your skills to learn another through simple in-game currency! No fees, just a community where we learn together. :)</p>
                                <br>
                                    <h5 style="text-align: left">1. Create an account</h5>
                                    <h5 style="text-align: left">2. Indicate your skills to teach and interests to learn</h5>
                                    <h5 style="text-align: left">3. Connect with people to teach and learn</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/static/assets/js/theme.js"></script>
</body>
{% endblock %}
