<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/styles.css?version=52">
    </head>
<body>
    <section class="container">
        <div class="signout"></div>
        <div class="one">profile section</div>
        <div class="two">recommended mentors</div>
        <div class="navbar"></div>
    </section>
</body>

<script src="../static/assets/js/jquery.min.js"></script>

<script>
	// TODO
	// ajax request to python script
	// retrieve ordered list of recommendations

	const admin = require('firebase-admin');
	const serviceAccount = require('./key.json');
	admin.initializeApp({
	  credential: admin.credential.cert(serviceAccount),
	  storageBucket: 'mhacks-13-project.appspot.com',
	});
	const ml = admin.machineLearning();

	(async () => {
		const storageBucket = admin.storage().bucket('mhacks-13-project.appspot.com');
		const matrix = await storageBucket.upload('./lt_matrix.csv');
		console.log(max);

	})().catch(console.error);

    /*
	$.ajax({
	  type: "POST",
	  url: "../recommend.py",
	  data: 
	}).done(function( o ) {
	   // do something
	});
	*/
</script>
</html>

